*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: var(--n-text-color);
  cursor: pointer;
  border: none;
  outline: none;
  background: none !important;
}

input {
  color: var(--n-text-color);
  outline: none;
}

img,
span {
  background: none !important;
}

a {
  color: var(--n-text-color);
  text-decoration: none;
  background: none !important;
}
/* homeView, loginView loading style*/
.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 水平置中 */
  position: fixed;
  top: 0vh;
  left: 0vw;
}
.n-spin-b {
  position: absolute;
  top: calc(50% + 200px);
  text-align: center;
}

.n-spin-b p:last-child {
  margin-top: 8px;
  font-size: 20px;
}
/*  */

.app-container,
html ::root {
  color: var(--n-text-color);
  background-color: var(--n-body-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 深色模式 */
.dark-mode {
  --n-body-color: rgb(10, 10, 10);
  --n-text-color: rgb(243, 245, 247);
}

.dark-mode .container {
  background-color: rgb(24, 24, 24);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 淺色模式 */
.light-mode {
  --n-body-color: rgba(255, 255, 255, 0.5);
  --n-text-color: rgb(0, 0, 0);
}

.light-mode .container {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode .n-spin .n-base-loading__icon {
  stroke: rgb(0, 0, 0);
}
/* 平板 RWD (寬度小於 768px) */
@media (max-width: 768px) {
  .container-box {
    width: 85% !important;
  }
  .page-title {
    font-size: 1.5rem;
  }
  .aru {
    padding: 15px 0;
  }
  .message-container {
    width: 85% !important;
  }
}

/* 手機 RWD (寬度小於 480px) */
@media (max-width: 500px) {
  body {
    overflow-x: hidden !important;
  }

  .container-box {
    width: 100% !important;
    padding: 0 5px;
  }
  .page-title {
    font-size: 1.2rem;
  }
  .n-spin-b p:last-child {
    font-size: 16px;
  }
  .aru {
    padding: 10px 0;
  }
  .comment-content {
    font-size: 14px;
  }

  .navbar ul {
    display: flex;
    justify-content: space-around;
    width: 100% !important;
  }

  .navbar-up {
    padding: 0 10px !important;
  }

  .message-container {
    width: 95% !important;
    height: 70vh !important;
  }

  .message-form-mi {
    flex: auto !important;
    max-height: none !important;
  }
}
